@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Open Sans", sans-serif;
    line-height: 1.4;
}
a{
    text-decoration: none;
}
/* page basic style*/
/* text */
.text-primary{
    color: #ffffff;
}
.text-center{
    text-align: center;
}
/* padding */
.py-1{
    padding: 1rem 0;
}
.p-1{
    padding: 1rem;
}

.btn{
    display: inline-block;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 5px;
}
.btn-primary{
    background: #ffc831;
    color: #fff;
}
.btn-primary:hover{
    background: #7ab436;
}
.btn-dark{
    background: #333;
    color: #fff;
}
.btn-dark:hover{
    background: #444;
}
/* background */
.bg-light{
    background: #f4f4f4;
    color: #333;
}
.bg-dark{
    background: #333;
    color: #fff;
}
.bg-primary{
    background: #ffc831;
    color: #333;
}

/* navbar */
#navbar{
    background: #333;
    color: #fff;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
#navbar ul{
    list-style: none;
    display: flex;
    align-items: center;
}
#navbar ul li a{
    color: #fff;
    padding: 0.75rem;
    margin: 0 0.25rem;
}
#navbar ul li a:hover{
    background: #ffc831;
    border-radius: 5px;
}

#showcase{
    background: #333 url("../img/4D1DB536-E151-46AC-A362-39EEC797C431.jpeg.jpg") no-repeat center center/cover;
    height: 100vh;
    color: #fff;
}
#showcase .showcase-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0.2rem;
    background-color: rgba(0, 0, 0, 0.5);
}

/* LARGE heading */
.l-heading{
    font-size: 4rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
}
/* MEDUIUM heading */
.m-heading{
    font-size: 2rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
}
.par{
    font-size: 1.1rem;
    margin-bottom: 2rem;
}

/* product */
#product{
    display: flex;
}
#product div{
    flex: 1;
}
#product .product-img{
    background: url("../img/candle.jpg") no-repeat center center/cover;
}
#product ul{
    list-style: none;
    margin: 0.5rem 0;
}
#product ul li{
    padding: 0.5rem 0;
    border-bottom: #444 dotted 1px;
}

/* contact */
#contact{
    display: flex;
}
#contact .contact-form,
#contact .contact-img{
    flex: 1;
}
#contact .contact-form .form-group{
    margin: 0.75rem;
}
#contact .contact-form .form-group label{
    display: block;
}
#contact .contact-form .form-group input,
#contact .contact-form .form-group textarea{
    width: 100%;
    padding: 0.5rem;
    border: none;
}
#contact .contact-form .form-group input:focus,
#contact .contact-form .form-group textarea:focus{
    outline: none;
    border: #333 solid 1px;
}
#contact .contact-img{
    background: url("../img/candle2.jpg") no-repeat center center/cover;
}
